* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.register-container {
    background: #fff;
    padding: 20px;
    width: 350px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h2 {
    margin-bottom: 20px;
    color: #333;
}

input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #00fdc6;
    border: none;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color:#00fdc6;
}

p {
    margin-top: 10px;
    font-size: 14px;
}

p a {
    color: #00fdc6;
    text-decoration: none;
}

p a:hover {
    text-decoration: underline;
}

.error-message {
    background: #ffcccc;
    color: #cc0000;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}
